{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}" />
<div class="bar">
    <div class="bar-left">
        <a href="{% url 'home' %}" class="navbar-pic"><img width = "63px" height = "78px" src="{% static 'images/uncc-logo(new).png' %}"/></a>
    </div>

    <div class="bar-right">
        {% if not request.user.is_authenticated %}
        <a class="navbar-text" href="{% url 'home' %}">Home</a>
        {% endif %}
        <a class="navbar-text" href="{% url 'tutor-finder' %}">Find a Tutor</a>
        <a href="{% url 'support' %}" class="navbar-text">Support</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="navbar-text">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}" class="navbar-text">Log In</a>
        {% endif%}

        {% if request.user.is_authenticated %}
            <a class="navbar-pic" href="{% url 'user-profile' request.user.id %}"><img src="{{ user.avatar.url }}"/></a>
        {% else %}
            <a class="navbar-pic" href="{% url 'user-profile' request.user.id %}"><img src="{% static 'images/profile-pic-placeholder.png' %}"/></a>
        {% endif %}
    </div>
</div>