{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}" />
<div class="bar">
    <div class="bar-left">
        <a href="https://my.charlotte.edu/student" class="navbar-pic"><img src="{% static 'images/uncc-logo.png' %}"/></a>
    </div>

    <div class="bar-right">
        <a class="navbar-text" href="{% url 'home' %}">Home</a>
        <a class="navbar-text" href="{% url 'tutor-finder' %}">Find a Tutor</a>
        <a href="{% url 'support' %}" class="navbar-text">Support</a>
        <a href="{% url 'login' %}" class="navbar-text">Log In</a>
        <a class="navbar-pic" href="{% url 'user-profile' %}"><img src="{% static 'images/profile-pic-placeholder.png' %}"/></a>
    </div>
</div>