{% load static %}


<div class="bar">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <div class="bar-right">

        <a class="navbar-text" href="{% url 'home' %}">Home</a>
        <a class="navbar-text" href="{% url 'tutor-finder' %}">Find a Tutor</a>
        <a href="" class="navbar-text">Support</a>
        <a href="{% url 'user-profile' %}" class="navbar-text">Account</a>
        <a class="navbar-pic" href="{% url 'user-profile' %}"><img src="{% static 'images/profile-pic-placeholder.png' %}"/></a>
    </div>
</div>