*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html{margin: 0; padding: 0;}

/*Navbar Page*/
.bar{
    margin: 0px 0px 0px 0px;
    height: 100px;
    width: 100%;
    background-color: #005035;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.bar-right{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-left{
    display: flex;
    justify-content: flex-start;
}

.navbar-pic{
    margin: 10px 10px 10px 10px;
}

.navbar-text{
    font: 30px "roboto", sans-serif;
    color: white;
    text-decoration: none;
}

/*Profile Page*/
.profile-container{
    margin-top: 20px;
    display: flex;
    font-family: "Roboto";
    justify-content: space-around;
}

.user-left-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit-button-container{
    display: flex;
    justify-content: center;
}

.edit-button{
    color: white;
    font: 30px "roboto", sans-serif;
    text-decoration: none;
    height: 75px;
    width: 200px;
    background-color: #005035;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.edit-button:hover{
    background-color: #00462f;
}

.info-container{
    width: 650px;
    height: 150px;
    font: 20px "roboto", sans-serif;
    margin-top: 20px;
    color: white;
    border: 2px white;
    background: #005035;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container#classes{
    height: 490px;
    width: 400px;
    justify-content: normal;
}

.user-classes{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid white;
}

.user-classes-title{
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-text{
    margin-top: 10px;
    text-align: center;
    font: 20px "roboto", sans-serif;
}

/*Login Page*/
.sign-up-button{
    color: white;
    font: 18px "roboto", sans-serif;
    text-decoration: none;
    height: 40px;
    width: 80px;
    background-color: #3151f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    border-radius:10px;
}

.sign-up-button:hover{
    background-color: #1e41ff;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-signed-container{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Tutor Finder Page*/
.tutor-finder {
    background-image: url("../static/images/UNCC_Background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.tutor_finder-Body {
    background-color: white;
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0px 10px 15px black;

}
.tutor_finder-Feature {
    text-align: center;
}

.tutor_finder-Feature > textarea {
    resize: none;
    margin-top: 5vh;
    height: 20vh;
    width: 40vh;
}

.tutor_finder-Button input {
    background-color: #005035;
    border-radius: 5px;
    border-style: none;
    color: white;
    display: inline-grid;
    height: 5vh;
    width: 20vh;
    margin: 1vh;
}

.tutor_finder-Details {
    padding: 10vh;
}


/*Landing page*/

#landing_background{
    background-image: url("../static/images/uncc_stock_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}

#landing_main_body{
    max-width: 350px;
    background-color: white;
    padding: 30px;
    margin: 30px;
}

.landing_flex{
    display: flexbox;
    padding: 20px;
    max-width: 300px;
}

#landing_footer{
    display: ;
    background-color: #00462f;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}