*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html{margin: 0; padding: 0;}

/*Title Style*/
.title-style{
    color: white; 
    font-size: 4vw; 
    margin: 2%; 
    text-shadow: 2px 2px 5px black;
}
/*button class*/

.button-class button[type="submit"] {
    background-color: white;
    color: #006b47;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}

/*Navbar Page*/
.bar{
    margin: 0px 0px 0px 0px;
    height: 100px;
    width: 100%;
    background-color: #005035;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.bar-right{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-left{
    display: flex;
    justify-content: flex-start;
}

.navbar-pic{
    margin: 10px 10px 10px 10px;
}

.navbar-text{
    font: 30px "roboto", sans-serif;
    color: white;
    text-decoration: none;
}

/*Profile Page*/
.profile-container{
    margin-top: 20px;
    display: flex;
    font-family: "Roboto";
    justify-content: space-around;
}

.user-left-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit-button-container{
    display: flex;
    justify-content: center;
}

.edit-button{
    color: white;
    font: 30px "roboto", sans-serif;
    text-decoration: none;
    height: 75px;
    width: 200px;
    background-color: #005035;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.edit-button:hover{
    background-color: #00462f;
}

.info-container{
    width: 650px;
    height: 150px;
    font: 20px "roboto", sans-serif;
    margin-top: 20px;
    color: white;
    border: 2px white;
    background: #005035;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*Potential styling*/
    border-radius: 20px;
    border: 3px solid black;
}

.info-container#classes{
    height: 490px;
    width: 400px;
    justify-content: normal;
}

.user-classes{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid white;
}

.user-classes-title{
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-text{
    margin-top: 10px;
    text-align: center;
    font: 20px "roboto", sans-serif;
}

/*Edit Profile Page*/
.edit-profile-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__group__edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.edit-form-label{

    text-align: center;
}

#edit-profile-buttons-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.edit-profile-button {
    background-color: white;
    color: #1f8ada;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s ease-in-out;
}

.edit-profile-button:hover {
    background-color: #1f8ada;
    color: #ffffff;
}

.edit-profile-button {
    background-color: white;
    color: #ff1125;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s ease-in-out;
}

#edit-profile-cancel:hover {
    background-color: #ff1125;
    color: #ffffff;
}

#edit-profile-update {
    background-color: white;
    color: #1f8ada;
}
#edit-profile-update:hover {
    background-color: #1f8ada;
    color: #ffffff;
}


/*Tutor profile*/

.welcome-text{  
    font: 20px "roboto", sans-serif;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    padding: 10px;

    background: #005035;
    border-radius: 20px;
    border: 3px solid black;

}
#profile-container-image-background{
    background-image: url("../static/images/UNCC_Background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Login Page*/
.sign-up-button{
    color: white;
    font: 18px "roboto", sans-serif;
    text-decoration: none;
    height: 40px;
    width: 80px;
    background-color: #3151f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    border-radius:10px;
}

.sign-up-button#tutor-profile-button{
    height: 40px;
    width: 120px;
}

.sign-up-button:hover{
    background-color: #1e41ff;
}



.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-container{
    margin: 0;
    padding: 0;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    test-align: center;
    flex-direction: column;
}

.field-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%
}

.login-label{
    text-align: center;
    color: white;
    font: 18px "Roboto", sans-serif;
}

.not-signed-container{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Tutor Finder Page*/
.tutor-finder {
    background-image: url("../static/images/UNCC_Background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.tutor-finder-Body {
    background-color: white;
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0px 10px 15px black;

}
.tutor-finder-Feature {
    text-align: center;
}

.tutor-finder-Feature > h2 {
    padding: 3vh;
}

.tutor-finder-Feature > textarea {
    resize: none;
    padding: 10px;
    height: 20vh;
    width: 40vh;
    border-radius: 10px;
}

.tutor-finder-Button > a > input {
    font-weight: bold;
    font-size: 15px;
    background-color: #008b5e;
    color: white;
    border-radius: 10px;
    border-style: none;
    display: inline-grid;
    height: 5vh;
    width: 20vh;
    margin-top: 1vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.tutor-finder-Button > a > input:hover {
    background-color: rgb(225, 225, 225);
    color: #006b47;
}

.tutor-finder-Details {
    padding: 10vh;
    line-height: 3vh;
}
.messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.messages li {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.messages .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.messages .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.messages .warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.messages .info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/*Choose a Tutor page*/
.choose-a-tutor {
    background-image: url("../static/images/UNCC_Background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.choose-a-tutor-Body {
    background-color: white;
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0px 10px 15px black;
}

.choose-a-tutor-Profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    background-color: #005035;
    width: 40vh;
    height: 20vh;
    margin: 2vh;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.choose-a-tutor-Profile:hover {
    background-color: #007852;
    box-shadow: 10px 10px 20px grey;
}   

.choose-a-tutor-Profile-Image {
    padding: 10%;
}

.choose-a-tutor-Profile-Info {
    padding: 1vh;
}

.choose-a-tutor-Profile-Button {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.choose-a-tutor-Profile-Button > a > input {
    font-weight: bold;
    font-size: 15px;
    background-color: #008b5e;
    color: white;
    border-radius: 10px;
    border-style: none;
    height: 5vh;
    width: 10vh;
    margin-top: 1vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.choose-a-tutor-Profile-Button > a > input:hover {
    background-color: rgb(225, 225, 225);
    color: #006b47;
}

/*Zoom page*/
.zoom-page {
    background-image: url("../static/images/AtkinsLibrary.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.zoom-page-Body {
    background-color: white;
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px black;
    display: grid; 
    place-items: center;
}

.zoom-page-Body > a > input {
    background-image: linear-gradient(180deg, #006b47, #005035);
    font-size: 5vh;
    border-radius: 10000px;
    border-style: none;
    color: white;
    height: 15vh;
    width: 80vh;
    cursor: pointer;
}


/*Landing page*/

#landing_background{
    background-image: url("../static/images/uncc_stock_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}

#landing_main_body{
    max-width: 350px;
    background-color: white;
    padding: 30px;
    margin: 30px;
}

.landing_flex{
    display: flexbox;
    padding: 20px;
    max-width: 300px;
}

#landing_footer{
    background-color: #00462f;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}


/* Support Page */
.support-page-container {
    background-image: url("../static/images/UNCC_Background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-family:  "Roboto", sans-serif;
}


.support-page-container h1 {
    font-size: 2rem;
    margin-top: 20px;
}

.support-page-container h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}


#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #004d34;
    border-radius: 10px;
    border: solid black 3px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

#form-container label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

#form-container input[type="email"],
#form-container input[type="password"],
#form-container textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}


#form-container input::placeholder {
    color: #888;
}

#form-container button[type="submit"] {
    background-color: white;
    color: #006b47;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}

#form-container button[type="submit"]:hover {
    background-color: #008b5e;
    color: white;
}
