*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html{margin: 0; padding: 0;}

.bar{
    margin: 0px 0px 0px 0px;
    height: 100px;
    width: 100%;
    background-color: #005035;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.bar-right{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-left{
    display: flex;
    justify-content: flex-start;
}

.navbar-pic{
    margin: 10px 10px 10px 10px;
}

.navbar-text{
    font: 30px "roboto", sans-serif;
    color: white;
    text-decoration: none;
}

.profile-container{
    margin-top: 20px;
    display: flex;
    font-family: "Roboto";
    justify-content: space-around;
}

.user-left-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit-button-container{
    display: flex;
    justify-content: center;
}

.edit-button{
    color: white;
    font: 30px "roboto", sans-serif;
    text-decoration: none;
    height: 75px;
    width: 200px;
    background-color: #005035;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px
}

.edit-button:hover{
    background-color: #003826;
}

.info-container{
    width: 650px;
    height: 150px;
    font: 20px "roboto", sans-serif;
    margin-top: 5px;
    color: white;
    border: 2px white;
    background: #005035;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container#classes{
    height: 600px;
    width: 400px;
    justify-content: normal;
}

.user-classes{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid white;
}

.user-classes-title{
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-text{
    margin-top: 10px;
    text-align: center;
}