{% extends 'main.html' %}
{% block content %}

    <form class="form" action="" method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        <body class="edit-profile-form">
            {% for field in form %}
            <div class="form__group__edit">
                <label class="edit-form-label" for="profile_pic">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </body>


        <div class="form__action" id="edit-profile-buttons-container">
            <button class="edit-profile-button" id="edit-profile-cancel" href="{% url 'home' %}">Cancel</button>
            <button class="edit-profile-button" id="edit-profile-update" class="btn btn--main" type="submit">Update</button>
        </div>
    </form>

{% endblock %}