<!DOCTYPE html>
{% extends 'main.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="landing_background">
    <main id="landing_main_body">
        <div class="landing_flex">
        <h1>UNCC 24/7 Tutoring</h1>
        <p>
            Need help with a Project? 
            Do you have a homework problem that you just don't get? 
            Are the usual options just not available?
            UNCC's 24/7 Tutoring service has your back!
            Get fast and reliable tutoring anytime, 
            anywhere with our reliable tutor match up system. 
            Click the button below or log in to get started!
        </p>
        <br>
        <a href="{% url 'tutor-finder' %}"><button>GET STARTED!</button></a>
        </div>
    </main>
    <footer id="landing_footer">
        <a>contact us: UNCCinstantTutor@charlotte.edu</a>
    </footer>
</body>
</html>
{% endblock %}