
{% extends 'main.html' %}
{% block content %}

<body id="landing_background">
<div class="login-container">
    {% include 'messages.html' %}
    <div id="form-container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="register-container">
            <div class="field-container">
                <label class="login-label">Email:</label>
                <input type="email" name="email" placeholder = "Enter UNCC email..." />
            </div>

            <div class="field-container">
                <label class="login-label">Password:</label>
                <input type="password" name="password" placeholder = "Enter Password..." />
            </div>
            <button class="sign-up-button" type="submit">Login</button>
        </div>

  </form>
    </div>

    <div class="info-container" id="sign-up-container">
        <div class="not-signed-container">
            <label class="info-text">Not signed up yet?</label>
            <a class="sign-up-button" href='{% url "register" %}'>Sign up</a>
        </div>
    </div>
</div>
</body>
{% endblock %}