{% extends 'main.html' %}
{% block content %}

<div class="profile-container">
    
    <div class="user-left-container">
        <div id="username-container">
            <div class="info-text" id="info-username">{{ user.username }}:</div>
        </div>
        <div class="info-container">
            <div class="info-text">{{currentYear}}</div>
        </div>
        <div class="info-container">
            <div class="info-text">Bio:</div>
            <div class="info-text">{{ bio }}</div> 
        </div>
        <div class="info-container">
            <div class="info-text">Skills:</div>
            <div class="info-text">{{skills}}</div>
        </div>
        <div class="edit-button-container">
            <a href="{% url 'edit-profile' user.id %}" class="edit-button">Edit</a>
        </div>
    </div>

    <div class="user-right-column">
        <div class="info-container" id="classes">
            <div class="user-classes-title">Current Classes:</div>
            {% for cls in userClasses %}
                <div class="user-classes">{{ cls.name }}</div> 
            {% empty %}
                <div class="user-classes">No classes enrolled yet.</div>
            {% endfor %}
        </div>
        <div class="edit-button-container">
            <a href="{% url 'edit-classes' %}" class="edit-button">Edit Classes</a>
        </div>
        <div class="edit-button-container">
            <a href="{% url 'logout' %}" class="edit-button">Logout</a>
        </div>
    </div>
</div>

{% endblock %}
