{% extends 'main.html' %}
{% block content %}

<div class="profile-container">
    
    <div class="user-left-container">
        <div class="info-container" id="username-container">
            <div class="info-text" id="info-username">{{ user.username }}</div>
            {% if user.tutor %}
                <div class="info-text-subheader">Tutor {{ avg_rating }}/5.0</div>
            {% else %}
                <div class="info-text-subheader">{{currentYear}}</div>
            {% endif %}
        </div>
        <div class="info-container" id="skills">
            <div class="info-text-header">Skills:</div>
            <div class="info-text">{{skills}}</div>
        </div>
        <div class="info-container" id="bio">
            <div class="info-text-header">Bio:</div>
            <div class="info-text">{{ bio }}</div> 
        </div>
        {% if reviews|length > 0 %}
            <div class="info-container" id="ratings">
                <div class="user-classes-title">Ratings</div>
                {% for review in reviews %}

                    <div class="user-classes-rating">
                        <div id="rating-number">{{ review.rating }}/5.0:</div>
                        <div id="rating-comment">{{ review.comment }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="edit-button-container">
            {% if request.user.id == user.id %}
                <a href="{% url 'edit-profile' user.id %}" class="edit-button">Edit</a>
            {% endif %}
        </div>
    </div>

    <div class="user-right-column">
        <div class="info-container" id="classes">
            {% if user.tutor %}
                <div class="user-classes-title">Classes I'm Tutoring:</div>
            {% else %}
                <div class="user-classes-title">Current Classes:</div>
            {% endif %}

            {% for cls in userClasses %}
                <div class="user-classes">{{ cls.name }}</div>
            {% empty %}
                {% if user.tutor %}
                    <div class="user-classes">Not tutoring any classes.</div>
                {% else %}
                    <div class="user-classes">No classes enrolled yet.</div>
                {% endif %}
            {% endfor %}
        </div>
        {% if request.user.id == user.id %}
        <div class="edit-button-container">
            <a href="{% url 'edit-classes' %}" class="edit-button">Edit Classes</a>
        </div>
        <div class="edit-button-container">
            <a href="{% url 'logout' %}" class="edit-button">Logout</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
