{% extends 'main.html' %}
{% block content %}
<div>

    <form method="POST" action="">
        {%csrf_token%}
        <div class="info-container">
            <label>Email:</label>
            <input type="email" name="email" placeholder = "Enter UNCC email..." />
        </div>

        <div class="info-container">
            <label>Password</label>
            <input type="password" name="password" placeholder = "Enter Password..." />
            <input type="submit" value="Login" />
        </div>
  </form>
  
</div>
{% endblock %}