{% extends 'main.html' %}
{% block content %}

<body id="landing_background">
<div class="login-container">
    {% include 'messages.html' %}
    <div id="form-container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="register-container">
            {% for field in form %}
                    <label for="room_name" class="register-field" >{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <button class="sign-up-button" type="submit">Submit</button>
        </div>
    </form>
    
    </div>
    <div class="info-container">
        <div class="not-signed-container">
            <label class="info-text">Already Signed Up?</label>
            <a class="sign-up-button" href='{% url "login" %}'>Login</a>
        </div>
    </div>
</div>
</body>
{% endblock %}