{% extends 'main.html' %}

{% block content %}

<body class="tutor-finder">

    <p class = "title-style">Tutor Finder</p>

    <div class="tutor-finder-Body">

        <div class = "tutor-finder-Feature">
            <h2>Select a Course</h2>

            <textarea id="" placeholder="Describe what you need..."></textarea>
            <div class = "tutor-finder-Button">
                <a href = "{% url 'rate-tutor' %}" onclick="window.open('https://charlotte-edu.zoom.us/my/dnorma18', '_blank'); return true;" type="submit"><input type="submit" value="Instant Mode" /></a>
                <a href = "{% url 'choose-a-tutor' %}" type="submit"><input type="submit" value="Choose a Tutor" /></a>
            </div>

        </div>

        <div class = "tutor-finder-Details">
            <p>Need a tutor now and do not want to search? </p>
            <p>Click stant Mode!</p>
            <p>If you want to curate your tutor click choose tutor!</p>
            <p>We offer 100% satifaction!</p>
            <p>We are the best!</p>
        </div>

    </div>
    
</body>

<script src = "../static/js/script.js"></script>
{% endblock %}