<!DOCTYPE html>
{% extends 'main.html' %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tutor Finder</title>
    </head>

    <body>

    <div>

        <h1 style="color: white">Tutor Finder</h1>

        <div class="tutor_finder-Body">
            <div class = "tutor_finder-Feature">
                <h3>Select a Course</h3>

                <div class = "tutor_finder-Button">
                    <input type="submit" value="Instant Mode" />
                    <input type="submit" value="Choose a Tutor" />
                </div>

            </div>

            <div class = "tutor_finder-Details">
                <p>(Tutor Finder info goes here)</p>
            </div>
        </div>

    </div>
        
    </body>
</html>

{% endblock %}