
{% include static %}


<!--<style>-->
<!--.profile-container{-->
<!--    margin-top: 20px;-->
<!--    display: flex;-->
<!--    font-family: "Roboto";-->
<!--    justify-content: space-around;-->
<!--}-->

<!--.user-left-container{-->
<!--    display: flex;-->
<!--    justify-content: center;-->
<!--    flex-direction: column;-->
<!--}-->

<!--.info-container{-->
<!--    width: 650px;-->
<!--    height: 150px;-->
<!--    font: 20px "roboto", sans-serif;-->
<!--    margin-top: 5px;-->
<!--    color: white;-->
<!--    border: 2px white;-->
<!--    background: #005035;-->
<!--    display: flex;-->
<!--    flex-direction: column;-->
<!--    justify-content: center;-->
<!--}-->

<!--.info-container#classes{-->
<!--    height: 600px;-->
<!--    width: 400px;-->
<!--    justify-content: normal;-->
<!--}-->

<!--.user-classes{-->
<!--    margin-top: 15px;-->
<!--    margin-bottom: 15px;-->
<!--    text-align: center;-->
<!--    border-bottom: 2px solid white;-->
<!--}-->

<!--.user-classes-title{-->
<!--    font-weight: bold;-->
<!--    font-size: 35px;-->
<!--    margin-top: 10px;-->
<!--    text-align: center;-->
<!--    margin-top: 20px;-->
<!--    margin-bottom: 20px;-->
<!--}-->

<!--.info-text{-->
<!--    margin-top: 10px;-->
<!--    text-align: center;-->
<!--}-->


<!--</style>-->
<link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="profile-container">
    <div class="user-left-container">
        <div class="info-container">
            <div class="info-text">Bob</div>
            <div class="info-text">Sophomore</div>
        </div>
        <div class="info-container">
            <div class="info-text">Bio:</div>
            <div class="info-text">I am a student in CS. I need help.</div>
        </div>
        <div class="info-container">
            <div class="info-text">Skills:</div>
            <div class="info-text">Python (Familiar)</div>
            <div class="info-text">13 Easy LeetCode Questions Solved</div>
        </div>
    </div>
    <div class="user-right-column">
        <div class="info-container" id="classes">
            <div class="user-classes-title">Current Classes:</div>
            <div class="user-classes">ITSC-1213</div>
            <div class="user-classes">MATH-1213</div>
            <div class="user-classes">ITIS-2181</div>
        </div>
    </div>
</div>